h1{
 color: aqua;   

}

h2{
color: aqua;

}

h3{
color: aqua;

}

p{
font-style: oblique;
color: yellow;
background-color: green;
}

body{
background: linear-gradient(blue,green)

}

h4{
color:yellow;

}

h5{
color:yellowgreen;

}
.tamanho{
    width: 50%;
}